
.centre {
    text-align: center;
}

body{
    background-color: antiquewhite;
    font-family: 'Verdana',Sans-serif;

}

.footerCl{
    background-color: rgb(79, 110, 167);
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    font-family: 'Verdana',Sans-serif;
    color: white;
}

.footerCl2{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 1%;
}

.maindiv{
    margin-top: 10%;
}

.secondDiv{
    margin-top: 2%;
    font-size: large;
}

.statusDiv{
    margin-top: 5%;
    
}

.githubButton{
    background-color: #66c069;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 15%;
    font-family: inherit;
}

.githubButton:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) ;
}