
.centre {
    text-align: center;
}

body{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;

}

.maindiv{
    margin-top: 10%;
}

.secondDiv{
    margin-top: 2%;
    font-size: large;
}

.githubButton{
    background-color: #66c069;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 15%;
    font-family: inherit;
}

.githubButton:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) ;
}